---
FormatStyle: file
Checks: >
  *,
  -abseil-*,
  -altera-*,
  -android-*,
  -boost-*,
  -darwin-*,
  -fuchsia-*,
  -google-*,
  -hicpp-*,
  -linuxkernel-*,
  -llvmlibc-*,
  -mpi-* ,
  -objc-*,
  -openmp-*,
  -zircon-*,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
...
