---
Checks:          'clang-diagnostic-*,clang-analyzer-*,*,-abseil-*,-altera-*,-android-*,-boost-*,-darwin-*,-fuchsia-*,-google-*,-hicpp-*,-linuxkernel-*,-llvmlibc-*,-mpi-*,-objc-*,-openmp-*,-zircon-*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     file
...

