If:
  PathMatch: [test/.*.cpp]
Diagnostics:
  ClangTidy:
    Remove: [
      bugprone*,
      cert*,
      concurrency*,
      cppcoreguidelines*,
      llvm*,
      misc*,
      modernize*,
      performance*,
      portability*,
      readability*
    ]