[submodule "externals/sanitizers-cmake"]
	path = externals/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake
[submodule "externals/vcpkg"]
	path = externals/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "externals/fuzztest"]
	path = externals/fuzztest
	url = https://github.com/google/fuzztest
